@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--darkBg);
}

:root {
  --green: #077151;
  --darkBg: #0f0e19;
}

@font-face {
  font-family: Trip Sans;
  font-weight: bold;
  src: url("./assets/fonts/trip-sans-bold.otf") format("opentype");
}

@font-face {
  font-family: Trip Sans;
  font-weight: normal;
  src: url("./assets/fonts/trip-sans-mono-regular.otf") format("opentype");
}

@font-face {
  font-family: Trip Sans;
  font-weight: medium;
  src: url("./assets/fonts/trip-sans-medium.otf") format("opentype");
}

@font-face {
  font-family: Gotham Pro;
  font-weight: bold;
  src: url("./assets/fonts/Gotham-Bold.otf") format("opentype");
}

@font-face {
  font-family: Gotham Pro;
  font-weight: noraml;
  src: url("./assets/fonts/Gotham-Light.otf") format("opentype");
}

@font-face {
  font-family: Gotham Pro;
  font-weight: medium;
  src: url("./assets/fonts/GothamMedium.ttf") format("opentype");
}

/* Active Navbar Link */
.active-navlink {
  border-top: 2px solid var(--green);
  border-bottom: 2px solid var(--green);
  width: fit-content;
}

/* Mobile Side Bar */
.mobile-sidebar {
  position: fixed;
  top: 0;
  right: 800px;
  z-index: 200;
  background-color: var(--darkBg);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100vh;
  transition: all 1s ease !important;
}

.menu-active {
  display: block;
  right: 0;
  width: 100%;
  transition: all 1s ease !important;
}

/* Home Page Rectangle Bg */
.home-rectangle-bg {
  background-image: url("./assets/images/rectangle.png");
  position: relative;
  overflow: hidden;
  border-radius: 16px;
}

/* 
.home-rectangle-bg::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(#00ccff, #df00f9);
  animation: rotate 4s linear infinite;
}

.home-rectangle-bg::after {
  content: '';
  position: absolute;
  background: transparent;
  inset: 5px;
  border-radius: 16px;
} */
@keyframes moveLine {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.choose-us {
  position: relative;
}

.choose-us:before {
  transition: all 3s linear;
  opacity: 0.2;
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(./assets/images/bottom-circle.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

/* Rounded Circle BG */
.rounded-circle-bg {
  background-image: url(./assets/images/rounded-circle.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.services {
  background: linear-gradient(
    45deg,
    rgba(7, 113, 81, 0.5) 0%,
    rgba(7, 113, 81, 0) 25.75%,
    rgba(7, 113, 81, 0) 2.75%
  );
}

.blogs {
  background: linear-gradient(
    320deg,
    rgba(7, 113, 81, 0.5) 0%,
    rgba(7, 113, 81, 0) 20.75%,
    rgba(7, 113, 81, 0) 2.75%
  );
}

.bg-project-idea-laptop {
  background-image: url(./assets/images/project-idea.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.about-us {
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #5b5b5b;
  text-align: center;
  font-family: Trip Sans;
  font-size: clamp(0.3rem, 1rem + 2vw, 3rem);
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 10.4px;
  text-transform: capitalize;
}

.hero-section {
  position: relative;
}

.hero-section:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(./assets/images/circle.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
  opacity: 0.2 !important;
}

.rocket-img {
  animation: slideYAnimation 3s ease-in-out infinite alternate;
}

.verified-img {
  animation: slideXAnimation 3s ease-in-out infinite alternate;
}

@keyframes slideXAnimation {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(120px);
  }
}

@keyframes slideYAnimation {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(120px);
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
/* body::-webkit-scrollbar {
  display: none;
} */

/* Hide scrollbar for IE, Edge and Firefox */
/* body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  background: var(--darkBg);
} */

/*
 *  STYLE 10
 */

.container-home::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  background-color: transparent !important;
  border-radius: 4px;
}

.container-home::-webkit-scrollbar {
  width: 10px;
  background-color: transparent !important;
}

.container-home::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #077151 0%, #43ad8d 47.92%, #077151 100%);
  border-radius: 4px;
  border: 2px solid #077151;
}

.transition {
  transition: all 1s ease !important;
}

.container-home {
  max-height: calc(100vh - 100px);
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  margin-top: 100px;
}

.panel {
  scroll-snap-align: start;
  height: calc(100vh - 100px);
}

@media (min-width: 1024px) {
  .choose-us:before {
    content: " ";
    opacity: 1;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(./assets/images/bottom-circle.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    opacity: 1 !important;
  }
}

@media (min-width: 768px) {
  @keyframes slideXAnimation {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(150px);
    }
  }

  @keyframes slideYAnimation {
    0% {
      transform: translateY(0);
    }

    100% {
      transform: translateY(150px);
    }
  }

  .hero-section:before {
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(./assets/images/circle.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
    opacity: 1 !important;
  }

  .writing-mode {
    writing-mode: vertical-lr;
  }

  .home-rectangle-bg {
    width: 70%;
  }
}

@media (min-width: 500px) and (max-width: 767px) {
  .home-rectangle-bg {
    width: 70%;
  }
}

.moving-border-animation {
  position: absolute;
  width: 100%;
  animation: moveBorder 4s infinite linear;
}
.moving-border-animation > span {
  position: absolute;
  background: linear-gradient(180deg, #077151 0%, #43ad8d 47.92%, #077151 100%);
  box-shadow: 0px 0px 36.96px 0px #2c9575, 0px 0px 63.36px 0px #2c9575,
    0px 0px 110.88px 0px #2c9575;
  width: 32px;
  height: 2px;
}

@keyframes moveBorder {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
